:root {
  --white: #ffffff;
  --grey-150: #c1c1c1;
  --grey-200: #9a9a9a;
  --grey-825: #242424;
  --grey-850: #252525;
  --grey-900: #1b1b1b;
  --grey-950: #141414;
  --blue-200: #6abfd0;
  --orange: #F9810F;
  --orange-500: #bb600b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body.no-scroll {
  overflow: hidden;
}

body, button, textarea, input {
  font: 400 16px "Maven Pro", sans-serif;
  color: var(--grey-850);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}


@media (min-width: 960px) {
  .hide-on-desktop {
    display: none;
  }
  .hide-on-mobile {
    display: block;
  }
}

@media (max-width: 960px) {
  .hide-on-desktop {
    display: block;
  }
  .hide-on-mobile {
    display: none;
  }
}

