:root {
  --white: #ffffff;
  --grey-850: #252525;
  --grey-200: #9a9a9a;
  --blue-200: #6abfd0;
  --orange: #F9810F;
  --orange-500: #bb600b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button, textarea, input {
  font: 400 16px "Maven Pro", sans-serif;
  color: var(--grey-850);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}