#specialties,
#services,
#contact {
  position: absolute;
  width: 1px;
  height: 1px;
  left: 0;
  margin-top: -112px; /* esse valor varia de acordo com a altura do seu Header, se ele tiver 200px de altura coloque aqui -220px por exemplo */
  background-color: transparent;
  z-index: -1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

header {
  box-shadow: rgba(0, 0, 0, 0.75) 0px 13px 30px -12px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: var(--white);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  background: var(--white);
}

.logo-company {
  width: 216px;
  height: auto;
}

.nav-bar-section ul {
  display: flex;
  align-items: center;
}

.nav-bar-section ul li+li {
  margin-left: 32px;
}

.nav-bar-section a {
  padding: 8px;
  /* font-size: 15px; */
  font-weight: 700;
  color: var(--grey-850);

  transition: 0.2s;
}

.nav-bar-section a:hover {
  color: var(--orange);
}

.budget-button {
  /* margin-left: auto; */
  font-weight: 700;
  color: var(--white);
  background-color: var(--orange);
  border: 2px solid var(--orange);
  border-radius: 32px;
  padding: 12px 24px;

  transition: 0.2s;
}

.budget-button:hover {
  background: var(--white);
  color: var(--orange);
}

.main-banner {
  margin-top: 104px;
  background-image: url("../assets/main-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 70%;

  position: relative;
  z-index: 1;
}

.main-banner:before {
  content: "";
  z-index: -1;
  background: rgba(0, 0, 0, 0.82) none repeat scroll 0 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.main-banner-content {
  padding: 160px 0;
}

.main-banner-content h1,
.main-banner-content span,
.main-banner-content p {
  color: var(--white);
}

.main-banner-content h1 {
  font-size: 48px;
  font-weight: 700;
}

.main-banner-content span {
  font-size: 30px;
  display: block;
  margin: 8px 0 16px;
}

.main-banner-content p {
  font-size: 24px;
  max-width: 70%;
}

.informative-container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.informative-container-title,
.specialties-title,
.highlighted-services-title  {
  font-size: 32px;
  line-height: 34px;
  margin-bottom: 60px;
  position: relative;
}

.informative-container-title:before,
.specialties-title:before,
.highlighted-services-title:before {
  content: "";
  position: absolute;
  top: 140%;
  left: 0;
  width: 8px;
  height: 8px;
  background: var(--orange);
  border-radius: 50%;
}

.informative-container-title:after,
.specialties-title:after,
.highlighted-services-title:after {
  content: "";
  position: absolute;
  top: 146%;
  left: 6px;
  width: 78px;
  height: 3px;
  background: var(--orange);
}

.informative-container-title span {
  color: var(--orange);
}

.informative-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.informative-text h3 {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
}

.informative-text p {
  margin-top: 4px;
  line-height: 24px;
  color: var(--grey-200);
}

.informative-text-footer {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.informative-text-footer button {
  font-weight: 700;
  color: var(--white);
  background: var(--orange);
  border: none;
  padding: 15px 22px;
  border-radius: 6px;

  transition: 0.2s;
}

.informative-text-footer button:hover {
  background-color: var(--orange-500);
}

.informative-text-footer > span {
  margin-left: 8px;
}

.informative-text-footer span {
  font-size: 22px;
}

.informative-text-footer span.highlited {
  color: var(--orange);
  font-family: "Oleo Script";
  text-transform: uppercase;
}

.informative-images {
  position: relative;
}

.main-image {
  display: flex;
  width: 305px;
  position: absolute;
  top: 0;
  left: 0;
  border: 6px solid white;
}

.main-image img,
.secondary-image img {
  width: 100%;
  height: auto;
  transform: scale(1.009);
}

.secondary-image {
  display: flex;
  width: 305px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.specialties-container {
  padding: 80px 0;
  background-image: url("../assets/specialties-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 60%;
  background-attachment: fixed;

  position: relative;
  z-index: 1;
}

.specialties-container:before {
  content: "";
  z-index: -1;
  background: rgba(0, 0, 0, 0.82) none repeat scroll 0 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.specialties-title {
  color: var(--white);
}

.specialties-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 41px 30px;
}

.specialties-items li {
  width: 100%;
}

.specialties-items img {
  width: 100%;
  height: auto;
}

.specialties-items li h3 {
  color: var(--white);
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 8px;
}

.specialties-items li h3 span {
  color: var(--orange);
}

.highlighted-services {
  max-width: 1440px;
  margin: 80px auto;
  width: 96%;
}

.highlighted-services ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.highlighted-services ul li {
  position: relative;
  max-width: 430px;
  cursor: pointer;

  transition: 0.2s;
}

.highlighted-services ul li:hover {
  filter: brightness(0.6);
}

.highlighted-services ul li:hover .search-icon {
  opacity: 1;
}

.service-image {
  width: 100%;
  height: auto;
}

img.search-icon {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  transition: 0.2s;
}

footer {
  background: var(--grey-900);
  padding: 78px 0;
}

.footer-container {
  display: flex;
}

.footer-content {
  margin-right: 30px;
  max-width: 380px;
}

.logo-company-footer {
  color: var(--orange);
  font-size: 42px;
}

.company-description {
  color: var(--grey-200);
  line-height: 28px;
  margin: 28px 0;
}

.more-info li {
  display: flex;
  align-items: center;
}

.more-info li:last-of-type {
  align-items: flex-start;
}

.more-info li+li {
  margin-top: 8px;
  padding-top: 8px;
  border-top: 1px solid var(--grey-825);
}

.more-info li span {
  color: var(--orange-500);
}

.more-info li p {
  color: var(--grey-150);
  margin-left: 8px;
  line-height: 28px;
}

.social-media {
  margin-top: 28px;
}

.social-media h3 {
  /* color: var(--grey-200); */
  color: var(--orange-500);
}

.social-media ul {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.social-media ul li svg {
  transition: 0.2s;
}

.social-media ul li:hover svg {
  fill: var(--orange);
}

.social-media ul li+li {
  margin-left: 54px;
}

footer iframe {
  display: flex;
  flex: 1;
}

.footer-bottom-area {
  background: var(--grey-950);
  padding: 22px 0;
}

.footer-bottom-area-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rights {
  color: var(--grey-150);
}

.developed-by {
  color: var(--grey-150);
  font-size: 12px;
}

.back-to-top-button {
  opacity: 0;
  visibility: hidden;

  z-index: 2;
  width: 45px;
  height: 45px;
  position: fixed;
  right: 15px;
  bottom: 50px;
  background: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: rgb(27, 27, 27) 0px 8px 23px -6px;

  transition: 0.2s;
}

.back-to-top-button:hover {
  filter: brightness(0.8);
}

.back-to-top-button.show {
  opacity: 1;
  visibility: visible;
}

.back-to-top-button span {
  font-size: 30px;
  color: var(--white);
}

.developed-by b {
  font-size: 16px;
  font-family: "Oleo Script";
}


@media (max-width: 1122px) {
  .nav-bar-section ul li+li {
    margin-left: 24px;
  }

  .informative-text-footer button {
    padding: 14px 16px;
    width: 120px;
  }

  .informative-text-footer span,
  .informative-text-footer span.highlited {
    font-size: 18px;
  }

  .footer-content {
    margin-right: 16px;
  }

  .footer-bottom-area {
    padding: 18px 0;
  }

  .footer-bottom-area-content {
    flex-direction: column;
  }

  .developed-by {
    margin-top: 8px;
  }

  .back-to-top-button {
    right: 16px;
    bottom: 25px;
  }
}

@media (max-width: 960px) {
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 3;
  }

  .logo-company {
    order: 2;
  }
  .nav-bar-section {
    order: 1;
  }
  .budget-button,
  .call-button {
    order: 3;
  }

  .menu-hamb-button.close {
    transform: rotate(180deg);
  }

  .menu-hamb-button.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-hamb-button.close .btn-line:nth-child(2) {
    opacity: 0;
  }

  .menu-hamb-button.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }

  .btn-line {
    width: 24px;
    height: 3px;
    background: black;

    transition: 0.3s;
  }

  .btn-line+.btn-line {
    margin-top: 6px;
  }

  .nav-bar-section > ul {
    opacity: 0;
    transform: translate(0,-140%);

    position: absolute;
    left: 0;
    background: white;
    width: 100%;
    flex-direction: column;
    padding: 40px 0;
    box-shadow: rgb(0 0 0 / 75%) 0px 13px 30px -12px;
    z-index: -1;

    transition: 0.5s;
  }

  .nav-bar-section > ul.show {
    opacity: 1;
    top: 100%;
    transform: translate(0);
    border-top: outset;
  }

  .nav-bar-section > ul li {
    width: 100%;
    text-align: center;
  }
  
  .nav-bar-section > ul li+li {
    margin-left: 0;
  }

  .nav-bar-section a {
    display: block;
    width: 100%;
    line-height: 44px;
  }

  .header-social-media {
    padding-top: 40px;
  }

  .header-social-media > h3 {
    font-weight: 400;
  }

  .header-social-media ul {
    margin-top: 12px;
  }

  .header-social-media li a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-social-media li a svg {
    fill: var(--orange);
  }

  .main-banner-content {
    text-align: center;
    padding: 120px 0;
  }

  .main-banner-content h1 {
    font-size: 32px;
  }

  .main-banner-content span {
    font-size: 24px;
  }

  .main-banner-content p {
    margin: 0 auto;
    font-size: 18px;
    max-width: 100%;
  }

  .informative-container {
    margin-top: 50px;
    text-align: center;
  }

  .informative-container-title, .specialties-title, .highlighted-services-title {
    font-size: 23px;
    margin-bottom: 24px;
    text-align: center;
    line-height: 26px;
  }

  .informative-content {
    grid-template-columns: 1fr;
  }

  .informative-text h3 {
    font-size: 18px;
  }

  .informative-container-title:before, .specialties-title:before, .highlighted-services-title:before,
  .informative-container-title:after, .specialties-title:after, .highlighted-services-title:after {
    content: none;
  }

  .informative-images {
    height: 162px;
  }
  .main-image {
    left: 48%;
    transform: translateX(-74%);
  }
  .secondary-image {
    right: unset;
    left: 52%;
    bottom: unset;
    top: 18%;
    transform: translateX(-28%);
  }

  .specialties-container {
    padding: 50px 0;
  }

  .specialties-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .specialties-items li h3 {
    font-size: 18px;
    text-align: center;
  }

  .highlighted-services {
    margin: 50px auto;
  }

  .highlighted-services ul {
    grid-template-columns: repeat(2, 1fr);
  }

  img.search-icon {
    opacity: 1;
  }

  footer {
    padding: 48px 0;
  }

  .footer-container {
    flex-direction: column;
  }

  .footer-content {
    margin-right: 0;
    max-width: 100%;
    text-align: center;
  }

  .logo-company-footer {
    font-size: 28px;
  }

  .company-description {
    margin: 18px 0 24px;
  }

  .more-info li,
  .social-media ul {
    justify-content: center;
  }

  iframe {
    margin-top: 32px;
    width: 100%;
    min-height: 260px;
  }
}

@media (max-width: 480px) {
  .main-banner-content {
    padding: 80px 0;
  }

  .informative-text-footer {
    flex-direction: column;
    margin-top: 32px;
  }

  .informative-text-footer button {
    margin-bottom: 18px;
    width: 60%;
  }

  .informative-images {
    height: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-image,
  .secondary-image {
    position: relative;
    left: unset;
    right: unset;
    top: unset;
    bottom: unset;
    transform: unset;
  }

  .informative-container {
    margin-bottom: 50px;
  }

  .specialties-items {
    grid-template-columns: 1fr;
  }

  .highlighted-services ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom-area-content {
    width: 63%;
    text-align: center;
  }

  .rights {
    line-height: 20px;
  }

  .developed-by {
    margin-top: 12px;
  }
}